<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Truco Helper</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app id="inspire" :dark="setTheme">
      <!--Nav-->
      <v-navigation-drawer v-model="drawer" app clipped >
        <v-container fluid>
          <v-switch v-model="modoPrincipante" :label="`Modo Principiante`"></v-switch>
          <v-switch :label="`Dark Mode`" v-model="goDark"></v-switch>
        </v-container>
      </v-navigation-drawer>


      <!--Title Nav-->
      <v-app-bar app clipped-left>
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        <v-toolbar-title>{{ titulo }}</v-toolbar-title>
      </v-app-bar>
      
      <!--Body-->

      <v-content>
        <v-container>
          <v-row class="pa-2">
            <!------------Card ELLOS------------->
            <v-card class="mx-auto" max-width="50%" outlined>
              <v-list-item three-line>
                <v-list-item-content>
                    <v-list-item-title class="headline mb-1 text-center">ELLOS</v-list-item-title>
                </v-list-item-content>            
              </v-list-item>

              <!--Counter-->
              <v-list-item-content>
                <div class="my-1 text-center display-4" style="color:rgb(165, 162, 162); text-shadow: 0px 0px 3px white;">
                  {{ contEllos }}
                </div>
              </v-list-item-content>

              <!--Card Buttons-->
              <v-card-actions>
                <v-btn text @click="aumentarEllos" style="font-size:30px;">+</v-btn>
                <v-btn text @click="disminuirEllos" style="font-size:30px;">-</v-btn>
              </v-card-actions>
            </v-card>

            <!----------Card NOS---------->
            <v-card class="mx-auto" max-width="50%" outlined>
              <v-list-item three-line>
                <v-list-item-content>
                    <v-list-item-title class="headline mb-1 text-center">NOS</v-list-item-title>
                </v-list-item-content>         
              </v-list-item>

              <!--Counter-->
              <v-list-item-content>
                <div class="my-1 text-center display-4" style="color: rgb(165, 162, 162); text-shadow: 0px 0px 3px white;">
                  {{ contNos }}
                </div>
              </v-list-item-content>

              <!--Card Buttons-->
              <v-card-actions>
                <v-btn text @click="aumentarNos" style="font-size:30px;">+</v-btn>
                <v-btn text @click="disminuirNos" style="font-size:30px;">-</v-btn>
              </v-card-actions>
            </v-card>
          </v-row>

          <!--Reset Button + Dialog-->
          <v-row justify="center" class="my-4 pt-0 pb-4">
            <v-dialog persistent v-model="dialog" max-width="300">
              <template v-slot:activator="{ on }">
                <v-btn color="primary" dark v-on="on"><v-icon>autorenew</v-icon>Reiniciar Partida</v-btn>
              </template>
              <v-card>
                <v-card-title class="headline">Reinicio</v-card-title>
                <v-card-text>¿Desea reiniciar el juego?</v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="purple lighten-2" text @click="dialog = false">NO</v-btn>
                  <v-btn color="purple lighten-2" text @click="[reiniciar(), dialog = false]">SI</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-row>

          <v-sheet
            class="mx-auto training"
            elevation="8"
            max-width="800"
          >
          <div style="font-size: 14px; margin-bottom:-20px; padding: 10px 0px 5px 25px">ENVIDO - CONTADOR DE PUNTOS</div>
            <v-slide-group
              v-model="model"
              class="pa-4"
              multiple
            >
              <v-slide-item
                v-for="n in 7"
                :key="n"
                v-slot:default="{ active, toggle }"
              >
                <v-card
                  :color="active ? 'primary' : 'grey lighten-1'"
                  class="ma-3"
                  height="50"
                  width="50"
                  @click="toggle"
                >
                  <v-row
                    class="fill-height"
                    align="center"
                    justify="center"
                  >

                  </v-row>
                </v-card>
              </v-slide-item>
            </v-slide-group>
            <v-alert type="info" dense dismissible style="margin-bottom: -10px; font-size: 12px;">
              Seleccioná tus cartas del mismo palo.
            </v-alert>
          </v-sheet>
<br>
          <v-sheet
            class="mx-auto training"
            elevation="8"
            max-width="800"
          >
          <div style="font-size: 14px; margin-bottom:-20px; padding: 10px 0px 5px 25px">TRUCO - ORDEN DE CARTAS</div>
            <v-slide-group
              v-model="model"
              class="pa-4"
              multiple
            >
              <v-slide-item
                v-for="n in cartas"
                :key="n"
                v-slot:default="{ active, toggle }"
              >
                <v-card
                  :color="active ? 'primary' : 'grey lighten-1'"
                  class="ma-3"
                  height="50"
                  width="50"
                >
                  <v-row
                    class="fill-height"
                    align="center"
                    justify="center"
                  >
                    <v-scale-transition>
                      <v-icon
                        v-if="active"
                        color="white"
                        size="36"
                        v-text="'check_circle_outline'"
                      ></v-icon>
                    </v-scale-transition>
                  </v-row>
                </v-card>
              </v-slide-item>
            </v-slide-group>
          </v-sheet>
          
        </v-container>
      </v-content>
    
      <!--Footer
      <v-footer app>
        <span>&copy; 2020</span>
      </v-footer>
      -->
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="vue.js"></script>
</body>

</html>